body {
  background-image: url(./assets/pexels-mnz-1598505.jpg);
  background-position: center;
  background-size: cover;
  main {
    font-family: sans-serif;
    .purchase-container {
      .object-one {
        background-color: rgba(206, 203, 190, 0.799);
        .pouch-woman {
          width: 10%;
        }
      }
    }
  }
}
